body{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
body,#header_wrap,#footer_wrap{
    background:#f2f2f2;
}
#main_content_wrap{
    border:0;
}
#project_title{
    text-shadow:none;
}
#project_title a{
    text-decoration:none;
    color:#563d7c;
    outline:none;
}
#disqus_thread{
    margin-top:100px;
}
#project_fork{
    margin:0;
    padding:0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
}
